module.exports = {
  // Provider-specific options
  providers: [
    // Specify your authentication providers and their configurations
    {
      name: "Google",
      provider: require("next-auth/providers/google"),
      clientId:process.env.GOOGLE_ID,
      clientSecret: process.env.GOOGLE_SECRET,
    },
    // Add more providers as needed
  ],

  // Optional configuration options
  // Customize the behavior of NextAuth.js according to your needs
  debug: false, // Set to true for debugging purposes
  secret: "apahpah;a;hah",
  session: {
    jwt: true,
  },
};
